.container-fluid {
  position: relative;
  height: 100%;
}
.container-fluid::before {
  content: "";
  background-image: url("../../public/glassesImage//background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}
.container-fluid .row {
  position: relative;
}
.container-fluid .row .col-6 .glassInfo {
  background-color: rgba(128, 128, 128, 0.493);
  width: 300px;
  position: absolute;
  top: 200px;
  right: 188px;
}
.container-fluid .row .col-6 .glassInfo h2 {
  font-size: 20px;
  margin: 0;
}
.container-fluid .row .col-6 .glassInfo p {
  margin: 0;
}
.container-fluid .row .col-6 img {
  height: 300px;
  width: 300px;
}
.container-fluid .row .col-6 img.glassModel {
  position: absolute;
  top: 70px;
  right: 266px;
  width: 150px;
  height: 50px;
}
.container-fluid .row.wrap {
  width: 90%;
  margin-top: 20px !important;
}
.container-fluid .row.wrap .col-2 img {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

html, body, .App, #root {
  height: 100%;
}